<ul>
  <li><%= avatar_for(@user, :big) %></li>
  <li><%= mail_to @user.email %></li>
</ul>

<p>
  <%= link_to "Edit", edit_user_path(@user) if can?(:manage, @user) %>
</p>

<p>
  <%= link_to 'Back', users_path %>
</p>
