<section>
  <p><b>Contratulations!</b> You are authenticated.  And now what?</p>
  <hr>
  <%= render '/pages/rank_table', pages: @pages %>
</section>
<section>
  <p><%= link_to "Pages", pages_path %></p>
  <p><%= link_to("Users", users_path) if can?(:read, User) %></p>
</section>
