<footer>
  <p>
    Copyright <%= year %> <%= SETTINGS[:author] %> (for what matters).
  </p>
  <p>
    <%= link_to "About", about_page_path %>
    |
    <%= link_to "Terms & Conditions", terms_and_conditions_path %>
  </p>
</footer>
